#menu{
	float: left;
    width: 30%;
    padding: 0;
    margin: 0;
}
section{
    margin-left: 80%px;
    float: right;
    background-color: blue
}
#contenido p img {
	float: right;
}
li{
	list-style-type: none;
	padding: 10px;
}

